@charset "UTF-8";

$c0: #fff;
$c1: #000;
$c2: #93DA45;
$c3: red;
$c4 :#090909;
$c5:#A2DD58;
$c6:#334B72;
$c7: #344C71; //左侧导航背景色
$c8: #9098FE; //紫色按钮颜色
$c9: #8BC34A; //绿色按钮颜色
$c10: #439CF9; //蓝色按钮颜色
$c11: #1989FA; //页面常见蓝色
$c12: rgba(0, 0, 0, 0.45); //常用字体颜色
$c13: #258EFA;
$c14: #C8C8C8; //更多按钮颜色
$c15: #333333;
$c16: #3C5783;
$c17: #6E6E6E;
$c18: #5A5E66;
$c19: #DCDFE6;
$c20: #008CFF;

$c21:#6BBDDE;
$c22:#646569;
$c23:#526789;
$c24:#385178;
$c25:#00C2FF;

$c26:#6FB5EC; //人力资源
$c27:#f2f2f2;
$c28:#4098df;
$c29:#cbe3fb;
$c30:#E7F1F8;


$c31:#F4F4F4;

$c32:#3BA4EC;
$chint:#f56c6c;

$tb-head:#F5F7FA;
$tb-hover:#E7F1FD;
$f-m:#53555A;
$f-d:#81838A;
$b-d:#DCDFE6;
$b-m:#559AFF;
$b-w:#ffffff;
$b-warn:#E6A23C;
$b-ser:#F56C6C;
$b-g:#F5FBFF;
$grey-c: #EEEEEE; //灰色
$refused-c:#FEEFF0;

$m-hover:#64A3FF; //主色按钮悬停
$m-active:#4589EC; //主色按钮点击

//边框颜色
$br-d: #DCDFE6;
$br-ref:#FAC0C0;

$dis-c: #D8D8D8; //禁用颜色

$br-b:#E4E7ED;
$f-h:#7CAFF4;
$f-ref:#EE555B;

